.idea
logs
project/project/project
project/project/target
project/target
target
.vscode
*.iml
/out
.idea_modules
.classpath
.project
.settings
.DS_Store
.bloop/
.metals
.gradle/
gradlew
gradlew.bat
gradle/
.bsp/
venv

/project/project/metals.sbt
/project/metals.sbt
